{% extends 'base.html.twig' %}
{% import 'macros/alertes.html.twig' as utils %}

{% block title %}Mot de passe oublié{% endblock %}

{% block body %}
    <main class="container mt-3">

        <h1 class="text-center">Mot de passe oublié - Étape 1</h1>

        {{ form_start(forgotPasswordFormStep1) }}

        <div class="row mt-5">
            
        </div>
    </main>
{% endblock %}