{% extends 'base.html.twig' %}
{% import 'macros/alertes.html.twig' as utils %}

{% block title %}Mot de passe oublié{% endblock %}

{% block body %}
    <main class="container mt-3">

        <h1 class="text-center">Mot de passe oublié - Étape 1</h1>

        {{ form_start(forgotPasswordFormStep1) }}

        <div class="row mt-5">
            <div class="col-md-6">
                {{ form_row(forgotPasswordFormStep1.username.first) }}
            </div>

            <div class="col-md-6">
                {{ form_row(forgotPasswordFormStep1.username.second) }}
            </div>

            <div class="mt-3">
                <button type="submit" class="btn btn-primary d-block mx-auto" title="Saissiez deux fois le nom d'utilisateur pour recevoir le lien de réinitialisation du mot de passe.">
                    Envoyez-moi un lien de réinitialisation
                </button>
            </div>
        </div>

        {{ form_end(forgotPasswordFormStep1) }}

    </main>
{% endblock %}