{% extends 'base.html.twig' %}
{% import 'macros/alertes.html.twig' as utils %}

{% block title %}Figures | ACCUEIL{% endblock %}

{% block main %}
    <main id="main">
        <div class="row">
            {% for trick in paginator.results %}
                <div class="card mb-3 mt-3 col-md-2">
                    <a href="#" title=""><img src="/assets/images/tricks/{{ trick.trickThumbnail }}" class="card-img-top" alt="..."></a>
                    <div class="card-body">
                        <h5 class="card-title"><a href="" title="">Card title</a></h5>
                    </div>
                </div>
            {% else %}

            {% endfor %}
        </div>
    </main>
{% endblock %}
