{% extends 'base.html.twig' %}
{% import 'macros/alertes.html.twig' as utils %}

{% block title %}Figures | ACCUEIL{% endblock %}

{% block main %}
    <main id="main">
        {% for trick in paginator.results %}
            
        {% else %}

        {% endfor %}
    </main>
{% endblock %}
