{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.3/dropzone.min.css" integrity="sha512-jU/7UFiaW5UBGODEopEqnbIAHOI8fO6T99m7Tsmqs2gkdujByJfkCbbfPSN4Wlqlb9TGnsuC0YgUgWkRBK7B9A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="/dist/css/admin.css" rel="stylesheet">
    <link href="/dist/css/trick_admin.css" rel="stylesheet">
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="/dist/js/admin.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.3/min/dropzone.min.js" integrity="sha512-oQq8uth41D+gIH/NJvSJvVB85MFk1eWpMK6glnkg6I7EdMqC1XVkW7RxLheXwmFdG03qScCM7gKS/Cx3FYt7Tg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/dist/js/trick_admin.js"></script>
{% endblock %}

{% block content %}
    <div class="container mb-5">
        <div class="row">
            <div class="col-sm-9">
                {% block main %}{% endblock %}
            </div>

            <aisde id="sidebar" class="col-sm-3">
                {% block sidebar %}{% endblock %}
            </aside>
        </div>
    </div>
    {% block footer %}{{ parent() }}{% endblock %}
{% endblock %}