{% macro alert(message, type) %}
    {% if type == 'error' %}
        {% set type = 'danger' %}
    {% endif %}
    <div class="alert alert-{{ type }} text-center mt-5" role="alert">
        {{ message|raw }}
    </div>
{% endmacro %}