{% extends 'base.html.twig' %}
{% import 'macros/alertes.html.twig' as utils %}

{% block title %}SnowTricks | ACCUEIL{% endblock %}

{% block stylesheets %}
    <link href="/dist/css/main.css" rel="stylesheet">
{% endblock %}

{% block body %}
    <!-- ======= Hero Section ======= -->
    <div id="hero" class="hero route bg-image" style="background-image: url(/dist/images/any/hero-bg.jpg)">
        <div class="overlay-itro"></div>
        <div class="hero-content display-table">
            <div class="table-cell">
                <div class="container">
                    <!--<p class="display-6 color-d">Hello, world!</p>-->
                    <h1 class="hero-title mb-4">Réalisez vos figures les plus sensentionnels !</h1>
                </div>
            </div>
        </div>
    </div>
    <!-- ======= Footer ======= -->
{% endblock %}
