{% extends 'base.html.twig' %}
{% import 'macros/alertes.html.twig' as utils %}

{% block title %}SnowTricks | ACCUEIL{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="/dist/css/home.css" rel="stylesheet">
{% endblock %}

{% block body %}
    <!-- ======= Hero Section ======= -->
    <div id="hero" class="hero route bg-image slideshow" style="background-image: url(/dist/images/any/hero-bg.jpg)">
        <div class="slideshow-image" style="background-image: url('/assets/images/home/00030286.jpg')"></div>
        <div class="slideshow-image" style="background-image: url('/assets/images/home/00030287.jpg')"></div>
        <div class="slideshow-image" style="background-image: url('/assets/images/home/00030288.jpg')"></div>
        <div class="slideshow-image" style="background-image: url('/assets/images/home/00030289.jpg')"></div>
        
        <div class="overlay-itro"></div>
        <div class="hero-content display-table">
            <div class="table-cell">
                <div class="container">
                    <p class="hero-title mb-4 text-capitalize"><span class="">Votre Passion, Nôtre Dévotion !
                    <br> <span class="text-uppercase">【SnowTricks】</span></p>
                </div>
            </div>
        </div>
    </div>
    <!-- ======= Footer ======= -->
{% endblock %}
