{% extends 'base.html.twig' %}
{% import 'macros/alertes.html.twig' as utils %}

{% block title %}{{ title_page }} | {{ title_page }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="/dist/css/home.css" rel="stylesheet">
{% endblock %}

{% block main %}
    <!-- ======= Hero Section ======= -->
    <div id="hero" class="hero route bg-image slideshow" style="background-image: url(/dist/images/any/hero-bg.jpg)">
        <div class="slideshow-image" style="background-image: url('/assets/images/home/00030288.jpg')"></div>
        <div class="slideshow-image" style="background-image: url('/assets/images/home/00030290.jpg')"></div>
        <div class="slideshow-image" style="background-image: url('/assets/images/home/00030291.jpg')"></div>
        <div class="slideshow-image" style="background-image: url('/assets/images/home/00030289.jpg')"></div>
        
        <div class="overlay-itro"></div>
        <div class="hero-content display-table">
            <div class="table-cell">
                <div class="container">
                    <p class="text-uppercase hero-title ">【SnowTricks】</p>
                    <p class="mb-4 text-capitalize hero-title hero-subtitle"><span class="">Votre Passion, Nôtre Dévotion !</p>
                </div>
            </div>
        </div>
    </div>

    <!-- ======= Trick List ======= -->
    <main id="main">
        <noscript>
            Désolé, le navigateur que vous utilisez actuellement ne supporte malheureusement pas JavaScript.
            Pour résoudre ce problème activer la prise en charge de JavaScript dans vos paramètres ou si nécessaire optez pour un autre navigateur.
        </noscript>

        {{ include(path('trick_index', {trick_index: trick.trickSlug})) }} 
    </main>
{% endblock %}
