<!-- ======= Hero Section ======= -->
    <div id="hero" class="hero route bg-image slideshow">
        <div class="slideshow-image" style="background-image: url('/assets/images/home/00030288.jpg')"></div>
        <div class="slideshow-image" style="background-image: url('/assets/images/home/00030290.jpg')"></div>
        <div class="slideshow-image" style="background-image: url('/assets/images/home/00030291.jpg')"></div>
        <div class="slideshow-image" style="background-image: url('/assets/images/home/00030289.jpg')"></div>
        
        <div class="overlay-itro"></div>
        <div class="hero-content display-table">
            <div class="table-cell">
                {% if show %}
                    <div class="container">
                        <p class="text-uppercase hero-title ">【SnowTricks】</p>
                        {% if title is not null %}
                            <p class="mb-4 text-capitalize hero-title hero-subtitle"><span class="">{{ title }}</p>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </div>
        <button id="toBottom"><i class="fas fa-chevron-down"></i></button>
    </div>